@font-face
{
font-family: final-frontier ;
src: url('./res/fonts/FINALOLD.TTF');
}

@font-face
{
font-family: logos ;
src: url('./res/fonts/Tr.TTF');
}

.starfont {
    font-family: final-frontier;
    font-size: 2em;
}

.logos {
    font-family: logos;
    font-size: 2em;
}

.container {
    margin-top: 20px;
    padding-left: 75%;
    padding-right: 30px;
    color: rgb(18, 166, 185);
}

.black {
    background-color: rgba(0, 0, 0, 0.541);
}

table {
    margin-bottom: 44px;
    width: 100%;
    border: 1px solid rgb(95, 95, 95);
  }
  table:last-child {
    margin-bottom: 0;
  }
  th,
  td {
    padding-bottom: 22px;
    vertical-align: top;
  }
  th {
    padding-right: 45px;
    text-align: right;
    width: 20%;
  }
  td {
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
  }
  thead {
    line-height: 44px;
  }
  thead th {
    color: #648880;
    font-size: 24px;
  }